<div class="container">
  <div class="jumbotron justify-content-center">
    <h1 class="display-4">Typeahead Demo</h1>
    <p class="lead">Just a small Demo of Typeahead</p>
    <hr class="my-4">
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Numbers</span>
        </div>
        <input type="search" aria-label="Number" id="search-numbers" class="form-control">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Authors</span>
        </div>
        <input type="search" aria-label="Name" id="search-authors" class="form-control">
      </div>
    </div>
  </div>
</div>
